[Unit]
Description=Backlooper
After=sound.target network.target

[Service]
ExecStart=/bin/bash %h/backlooper/scripts/dev-setup-run.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
